<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
		<h1>Image Title</h1>
	</div>
  </div>

  <div class="row">
    <div class="col-md-12">
		<img src='<%= './sample-images/' + lids[cur] %>' style="max-width:60%;max-height:60%;">
	</div>
  </div>

  <div class="row">
    <div class="col-md-12">
	</div>
  </div>

  <div class="row">
	<div class="col-md-12">
		<form class="form-inline" action="#" method="post">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Labels" aria-describedby="basic-addon1">
		</div>
		<div class="btn-group center" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Previous</button>
		  <button type="submit" class="btn btn-success">Next</button>
		</div>
	  </form>
	</div>
	  	
  </div>
</div>


<% include ../partials/footer %>
